
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
